table {
  width: 80%;
  border-collapse: collapse;
}

th,
td {
  padding: 10px;
  text-align: left;
  color: white;
}

thead th {
  background-color: white;
  font-weight: bold;
  color: black;
  /* text-align: center; */
  border-bottom: 1px solid black;
}

.btn{
  font-weight: bold;
  background-color: rgb(212, 175, 126);
}
