
  <div class="form-group" style="margin-top: 90px;">
    <label for="email"> Email </label>
    <input #email_value class="form-control" type="email" id="email" name="email">
  </div>

  <div class="form-group">
    <label for="contrasena"> Contraseña </label>
    <input #password_value class="form-control" type="password" id="contrasena" name="contrasena">
  </div>

  <div class="form-group">
    <button type="submit" name="submit" class="btn btn-primary form" (click)="iniciarSesion(email_value.value, password_value.value)"> Iniciar sesión </button>
    ¿No tiene una cuenta? Regístrese <a routerLink="/register" routerLinkActive="active" aria-current="page" href="#"> aqui</a>
  </div>

