<div *ngIf="isLogueado() == true && getRol() == 1" class="container">
  <div class="row">
    <div class="divVolver col-lg-1 col-md-1 d-md-block d-none d-flex align-items-start">
      <button class="btn volver col-lg-1 col-md-1 d-md-block d-none" (click)="goBack()">
        <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-arrow-left-circle" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-4.5-.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z"/>
        </svg>
      </button>
    </div>
    <div class="col">
<div class="form-group">
  <label for="titulo">Título:</label>
  <input class="form-control" type="text" id="titulo" [(ngModel)]="libro.titulo" required>
</div>
<div class="form-group">
  <label for="ISBN">ISBN:</label>
  <input class="form-control" type="text" id="titulo" [(ngModel)]="libro.ISBN" required>
</div>
<div class="row">
  <div class="form-group col-6">
    <label for="ISBN">Stock total:</label>
    <input class="form-control" type="number" id="stock_total" [(ngModel)]="libro.stock_total" required>
  </div>
  <div class="form-group col-6">
    <label for="ISBN">Stock disponible:</label>
    <input class="form-control" type="number" id="stock_disponible" [(ngModel)]="libro.stock_disponible" required>
  </div>

</div>
<div class="form-group">
  <label for="autor">Autor:</label>
  <select class="form-control" name="autores" id="autores" [(ngModel)]="libro.autorId">
    <option *ngFor="let autor of getAutores()" [value]="autor.id">{{ autor.nombre_autor }}</option>
  </select>
</div>

<div class="form-group">
  <label for="fechaPublicacion">Fecha de Publicación:</label>
  <input class="form-control" type="date" id="fechaPublicacion" [(ngModel)]="libro.fecha_publicacion" required>
</div>


<div class="form-group">
  <label for="genero">Género:</label>
  <select class="form-control" name="generos" id="generos" [(ngModel)]="libro.generoId">
    <option *ngFor="let genero of getGeneros()" [value]="genero.id">{{ genero.nombre }}</option>
  </select>
</div>
<div class="form-group">
  <label for="editorial">Editorial:</label>
  <select class="form-control" name="editoriales" id="editoriales" [(ngModel)]="libro.editorialId">
    <option *ngFor="let editorial of getEditoriales()" [value]="editorial.id">{{ editorial.nombre }}</option>
  </select>
</div>
<div class="form-group">
  <label for="sinopsis">Sinopsis:</label>
  <textarea class="form-control" id="sinopsis" cols="10" rows="10" [(ngModel)]="libro.sinopsis" required></textarea>
</div>
<div class="form-group">
  <label for="imagen">Ruta de la imagen:</label>
  <input class="form-control" type="text" id="imagen" [(ngModel)]="libro.image" required>
</div>

<div class="form-group">
  <button class="btn" style="background-color: rgb(212, 175, 126); color: black; font-weight: bold;" (click)="guardarCambios()">Guardar Cambios</button>
</div>
</div>
</div>
</div>

<div *ngIf="!isLogueado() == true || getRol() != 1" class="container">
  <div class="row">
      <div class="col-12 text-center error-container">
          <h1 class="display-1">No tienes permisos</h1>
          <p class="lead">Lo sentimos, la página a la que estás intentado acceder es exclusiva para administradores.</p>
          <a href="/" class="btn btn-lg" style="background-color: #d4af7e;color: black; font-weight: bold;">Volver al inicio</a>
      </div>
  </div>
</div>
