<div *ngIf="isLogueado()" class="container">
  <div class="row justify-content-center">
    <div class="col-12 text-center">
        <h1>Perfil</h1>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-12 text-center">
      <i class="fas fa-user" style="font-size:100px;color:white;margin-bottom:20px"></i>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-12 col-md-8 col-lg-6 text-center">
      <p>Nombre de usuario: <input type="text" id="username" name="username" value={{username}} disabled></p>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-12 col-md-8 col-lg-6 text-center">
      <p>Correo electronico: <input type="text" id="email" name="email" value="{{email}}" disabled></p>
    </div>
  </div>
</div>
<div *ngIf="!isLogueado()" class="container">
  <div class="row">
      <div class="col-12 text-center error-container">
        <h1 class="display-1">No has iniciado sesión</h1>
          <p class="lead">Lo sentimos, la página a la que estás intentado acceder es exclusiva para usuarios registrados.</p>
          <a href="/login" class="btn btn-lg" style="background-color: #d4af7e;color: black; font-weight: bold;">Iniciar sesión</a>
      </div>
  </div>
</div>
