a{
  text-decoration: none;
  color: black;
}

a:hover{
  text-decoration: underline;
}

.card-custom {
  background: transparent;
  border: none;
}

.card-custom .card-body {
  padding: 0.5rem;  /* Ajusta este valor para modificar el espacio alrededor del contenido del cuerpo de la tarjeta. */
}

.btn-group{
  margin-top: -10px;
}

.truncate-lines {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  max-height: 3.2em;
  line-height: 1.6em;
  font-size: 1em;
  color: white;
  /* display: block; */
  /* white-space: nowrap; */
}

.btn.reservar {
  background: none;
  border: none;
  color: darkorange; /* O puedes utilizar cualquier color en hexadecimal, RGB, etc. */
}

.btn.prestar {
  background: none;
  border: none;
  color: lightgreen; /* O puedes utilizar cualquier color en hexadecimal, RGB, etc. */
}

.card button {
  padding: 0;
}

.custom-icon{
  margin-left: 15px;
}

@media (max-width: 575.98px) {
  .card {
    width: 7rem;
    margin-right: 1rem;
  }

  .btn svg {
    width: 12px;
    height: 12px;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .card {
    width: 10rem;
    margin-right: 2rem;
  }

  .btn svg {
    width: 14px;
    height: 14px;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .card {
    width: 10rem;
    margin-right: 2rem;
  }

  .btn svg {
    width: 16px;
    height: 16px;
  }
}

@media (min-width: 992px) {
  .card {
    width: 11rem;
    margin-right: 3rem;
  }

  .btn svg {
    width: 18px;
    height: 18px;
  }
}

.btn:focus{
  outline: auto 1px ;
}

.btn svg{
  margin: 0;
}
