<div class="card text-left card-custom mb-4 col-12 col-sm-6 col-md-10 col-lg-10">
  <a [routerLink]="['/detalles', libro.id]" routerLinkActive="active" href="#" (click)="asignarLibro(libro)">
    <img src="{{libro.image}}" class="card-img-top" alt="Portada del libro {{libro.titulo}}">
  </a>
  <div class="card-body">
    <a [routerLink]="['/detalles', libro.id]" routerLinkActive="active" href="#" (click)="asignarLibro(libro)" class="d-block mb-2 truncate-lines">
      {{ libro.titulo }}
    </a>
    <div class="d-flex justify-content-between">
      <div *ngIf="isLogueado()" class="btn-group">
        <button *ngIf="getStock(libro.id)==0 && !estaReservado(libro.id)" type="button" class="btn reservar" (click)="reservar(libro.id)">Reservar</button>
        <button *ngIf="getStock(libro.id)==0 && estaReservado(libro.id)" type="button" class="btn reservar" (click)="cancelarReserva(libro.id)">No reservar</button>
        <button *ngIf="getStock(libro.id)>0 && !estaPrestado(libro.id)" type="button" class="btn prestar" (click)="prestar(libro.id)">Prestar</button>
        <button disabled *ngIf="getStock(libro.id)>0 && estaPrestado(libro.id)" type="button" class="btn prestar">Prestado</button>
      </div>
      <div *ngIf="!isLogueado()" class="btn-group">
        <button *ngIf="getStock(libro.id)==0" type="button" class="btn reservar" (click)="reservar(libro.id)">Reservar</button>
        <button *ngIf="getStock(libro.id)>0" type="button" class="btn prestar" (click)="prestar(libro.id)">Prestar</button>
      </div>
      <div class="btn-group">
        <button *ngIf="!isFav(libro.id) " (click)="addFav(libro.id)" type="button" class="btn">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" stroke="red" class="custom-icon" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"/>
          </svg>
        </button>
        <button *ngIf="isFav(libro.id)" (click)="removeFav(libro.id)" type="button" class="btn">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="red" class="custom-icon" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"/>
          </svg>
        </button>
      </div>
    </div>
  </div>
</div>
