<div class="container">
  <h1>Actividades disponibles</h1>
  <div class="row">
    <div class="col-sm-6 col-md-6 col-lg-3">
      <div class="card" style="width: 100%;">
        <img src="../../assets/imagenes_comunes/pabloNeruda2.jpg" class="card-img-top" alt="...">
      </div>
    </div>
    <div class="col-sm-6 col-md-6 col-lg-3">
      <div class="card" style="width: 100%;">
        <img src="../../assets/imagenes_comunes/charlaLibros.jpg" class="card-img-top" alt="...">
      </div>
    </div>
    <div class="col-sm-6 col-md-6 col-lg-3">
      <div class="card" style="width: 100%;">
        <img src="../../assets/imagenes_comunes/saraward.jpg" class="card-img-top" alt="...">
      </div>
    </div>
    <div class="col-sm-6 col-md-6 col-lg-3">
      <div class="card" style="width: 100%;">
        <img src="../../assets/imagenes_comunes/excursionCieza.jpg" class="card-img-top" alt="...">
      </div>
    </div>
  </div>
</div>
