body {
  top: 0;
  left: 0;
  width: 100%;
  background-image: url('assets/imagenes_comunes/bookcases-1869616_1280.png');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

body::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(200, 200, 200, 0.5);
  backdrop-filter: blur(5px);
  z-index: -1;
}


