<header class="cabecera">
  <div class="row">
    <nav class="navbar navbar-expand-lg">
        <div class="container-fluid">
          <a class="navbar-brand text-white" href="#">Bibilioteca</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0 ">
              <li class="nav-item">
                <a routerLink="/inicio" routerLinkActive="active" class="nav-link text-white" aria-current="page" href="#">Inicio</a>
              </li>
              <li class="nav-item">
                <a routerLink="/libros" routerLinkActive="active" class="nav-link text-white" aria-current="page" href="#">Libros</a>
              </li>
              <li class="nav-item">
                <a routerLink="/actividades" routerLinkActive="active" class="nav-link text-white" aria-current="page" href="#">Actividades</a>
              </li>
              <li class="nav-item" *ngIf="!isLogueado()">
                <a routerLink="/login" routerLinkActive="active" class="nav-link text-white" aria-current="page" href="#">Iniciar sesión</a>
                <!-- <a class="nav-link text-white" href="#">Iniciar sesion</a> -->
              </li>
              <li class="nav-item" *ngIf="isLogueado()">
                <a onclick="desplegarMenu()" class="nav-link text-white" aria-current="page"><i class='fas fa-user' style='font-size:38px;color:white'></i></a>
                <!-- <a class="nav-link text-white" href="#">Iniciar sesion</a> -->
              </li>
            </ul>
          </div>
        </div>
    </nav>
  </div>
</header>

<div id="menu" class="menu">
  <ul>
    <li><a href="#">Mi perfil</a></li>
    <li><a href="#">Mis favoritos</a></li>
    <li><a href="#">Cerrar sesión</a></li>
  </ul>
</div>

<script>
  function desplegarMenu() {
  var menu = document.getElementById("menu");
  menu.style.display = menu.style.display === "none" ? "block" : "none";
}

</script>
